<h1>Welcome to My Blog</h1>
<% @posts.each do |post|%> <!-- This is ruby code - like a puts takes the user's input and prints it -->
  <article>
    <h2> <a href="show/<%=post[:id]%>"> <%= post[:title] %> </a></h2>
    <h3> By: <%= post[:author] %> </h3>
    <p>  <%= post[:body] %></p>
  </article>

  <!-- There's no evidence of the the ruby code in developer tools -->

  <% #'<%=' is like a puts message (so on the other lines don't do '=') %>

<% end %>
